.left-panel.blue-skin
	.left-panel__section
		.title-2 UI-KIT и PUG фреймворк

	.left-panel__section
		p.strong Документация
		.left-panel-nav
			+linkLeftPanel("Документация", "docs.html")
			+linkLeftPanel("Оформление кода", "docs-codestyle.html")
			+linkLeftPanel("Работа со стилями", "docs-styleguide.html")
			+linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")

	//- Тут будут ссылки на блоки
	.left-panel__section
		p.strong Элементы форм
		.left-panel-nav
			+linkLeftPanel("Кнопки", "buttons.html")
			+linkLeftPanel("Аватарки", "avatars.html")
			+linkLeftPanel("Чекбоксы", "checkbox.html")
			+linkLeftPanel("Textarea", "textarea.html")
			+linkLeftPanel("Комментарий - Зарегистрироваться", "comment-register.html")
			+linkLeftPanel("Радио-кнопки", "radio-buttons.html")
			+linkLeftPanel("Бейдж", "badge.html")
			+linkLeftPanel("Загрузить файл", "load-file.html")

	.left-panel__section
		p.strong Типографика
		.left-panel-nav
			+linkLeftPanel("Заголовки", "titles.html")
			+linkLeftPanel("Текст", "text.html")
			+linkLeftPanel("Список", "list.html")

	.left-panel__section
		p.strong Нотификации
		.left-panel-nav
			+linkLeftPanel("Нотификации", "notifications.html")

	//- Тут будут ссылки на блоки
	.left-panel__section
		p.strong Блоки
		.left-panel-nav
			+linkLeftPanel("Аватарки", "avatars.html")
			+linkLeftPanel("Бейдж", "badge.html")
			+linkLeftPanel("Лого", "logo.html")
			+linkLeftPanel("Вход/Регистрация(Гость)", "sign-in-guest.html")
			+linkLeftPanel("Вход/Регистрация(Пользователь)", "sign-in-user.html")
			+linkLeftPanel("Навигация", "navigation.html")
			+linkLeftPanel("Google карта", "map.html")
			+linkLeftPanel("Карточки", "cards.html")

	//- Тут будут ссылки на секции
	.left-panel__section
		p.strong Секции
		.left-panel-nav
			+linkLeftPanel("Пост в блоге", "blog-post.html")
			+linkLeftPanel("Сообщение от пользователя", "user-message.html")
			+linkLeftPanel("Панель администратора", "admin-panel.html")
			+linkLeftPanel("Оставить коментарий", "leave-comment.html")
			+linkLeftPanel("Два комментария", "two-comments.html")
			+linkLeftPanel("Шапка (Гость)", "header-guest.html")
			+linkLeftPanel("Шапка (Администратор)", "header-admin.html")
			+linkLeftPanel("Шапка (Пользователь)", "header-user.html")
			+linkLeftPanel("Подвал", "footer.html")
			+linkLeftPanel("Индикаторы", "indicators.html")
			+linkLeftPanel("Комментарии пользователя", "user-comments.html")

	//- Тут будут ссылки на страницы
	.left-panel__section
		p.strong Страницы
		.left-panel-nav
			+linkLeftPanel("Регистрация", "../registration.html")
			+linkLeftPanel("Вход на сайт", "../login.html")
			+linkLeftPanel("Работы", "../works.html")
			+linkLeftPanel("Отдельная работа", "../internet-shop.html")
			+linkLeftPanel("Главная", "../main.html")
			+linkLeftPanel("Профиль пользователя", "../user-profile.html")
			+linkLeftPanel("Контакты - Редактировать", "../contacts-edit.html")
			+linkLeftPanel("Обо мне", "../about-me.html")
			+linkLeftPanel("Редактировать - Опыт работы", "../edit-work-experience.html")
			+linkLeftPanel("Технологии - Редактировать", "../technologies-edit.html")
			+linkLeftPanel("Контакты - Сообщения", "../contacts-messages.html")
			+linkLeftPanel("Контакты", "../contacts.html")
			+linkLeftPanel("Пост добавить", "../post-add.html")
			+linkLeftPanel("Блог-Пост", "../post-in-blog.html")
			+linkLeftPanel("Блог", "../blog.html")
			+linkLeftPanel("Профиль пользователя редактировать", "../edit-user-profile.html")
			+linkLeftPanel("Работы - Добавить", "../works-add.html")
			+linkLeftPanel("Обо-мне Редактировать - Информация", "../edit-about-me.html")

