mixin logo(logoText, descText)
    div.logo
        div.logo__icon
            span.ml-0
                i(class="far fa-paper-plane")
            span #{logoText}
        div.logo__text
            span #{descText}