mixin radio-buttons(headtext)
    fieldset
        p #{headtext}
        +radio-buttons__item('Выбор 1', 'option')
        +radio-buttons__item('Выбор 2', 'option')

mixin radio-buttons__item(buttontext, group_id)
    label(class="form__label-radio")
        input(class='form__input-radio' type='radio' name= group_id)
        span(class="form__radio")
        | #{buttontext}