extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Профиль пользователя';
	- var pageClass = 'content-page';

block content
	.sticky-footer-wrapper
		include ../sections/header-user.pug
		
		.sticky-footer-content
			.container.user-content.pt-50.pb-120.relative
				.profile__button
					+buttonEdit('Редактировать', '#!')
				.row
					.col-md-10.offset-md-1
						.profile
							.title-1.profile__title Профиль
						.profile-user
							.profile-user__avatar
								+avatarBig('avatar-1-big.jpg')
							.profile-user-description
								span Имя и фамилия
								.profile-user-description__title Емельян Казаков
								span Email
								.profile-user-description__email pilat@mail.ru
								span Страна, Город
								.profile-user-description__city Россия, Казань
						include ../sections/user-comments.pug

			
		include ../sections/footer.pug

