extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Бейдж - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Бейдж
			.section-ui
				.title Бейдж (только текст)
				+badge("Пользователь")
			pre.
				+badge("Пользователь")
			.section-ui
				.title Бейдж ссылка
				+badge("Пользователь", "!#")
			pre.
				+badge("Пользователь", "!#")