extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Подвал - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Подвал
			
			.section-ui

				include ../../sections/footer.pug

			pre.
				include ../../sections/footer.pug			

			.title sections/footer.pug

			pre.
				footer.footer
					.container
						.row
							.col-md-5
								.footer__text
									p © Юрий Ключевский
									p
										| Создано с 
										span ❤
										|  в 
										a(href='http://webcademy.ru/', target='_blank') WebCademy.ru
										|  в 2018 году
							.col-md-3
								.footer-nav
									.footer-nav__item
										a(href="#!") Главная
									.footer-nav__item
										a(href="#!") Обо мне
									.footer-nav__item
										a(href="#!") Работы
									.footer-nav__item
										a(href="#!") Блог
									.footer-nav__item
										a(href="#!") Контакты
							.col-md-4
								.footer__social-icons
									a(href="#!" target="_blank")
										i(class="fab fa-vk")
									a(href="#!" target="_blank")
										i(class="fab fa-twitter")
									a(href="#!" target="_blank")
										i(class="fab fa-youtube")
									a(href="#!" target="_blank")
										i(class="fab fa-instagram")
									a(href="#!" target="_blank")
										i(class="fab fa-facebook-f")