extends ../../layouts/ui-layout/ui-layout.pug

block variables
    - var title = 'Список - UI-kit и HTML фреймворк - Документация';
    - var pageClass = 'body--dashboard';

block content
    .main-wrapper
        .container.container--left.user-content.pt-35
            h1 Список

            .section-ui
                ul
                    li Первый пункт
                    li Второй пункт. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней.
                    li Третий пункт

            pre.
                ul
                  li Первый пункт
                  li Второй пункт. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней.
                  li Третий пункт