extends ../../layouts/ui-layout/ui-layout.pug

block variables
    - var title = 'Заголовки - UI-kit и HTML фреймворк - Документация';
    - var pageClass = 'body--dashboard';

block content
    .main-wrapper
        .container.container--left.user-content.pt-35
            h1 Заголовки

            .section-ui
                 h1.title-1 Заголовок 1
                 h2.title-2 Заголовок 2
                 h3.title-3 Заголовок 3
                 h4.title-4 Заголовок 4
                 h5.title-5 Заголовок 5
                 h6.title-6 Заголовок 6
            pre.
                h1.title-1 Заголовок 1
                h2.title-2 Заголовок 2
                h3.title-3 Заголовок 3
                h4.title-4 Заголовок 4
                h5.title-5 Заголовок 5
                h6.title-6 Заголовок 6
            