extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Комментарии пользователя - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Комментарии пользователя
			
			.section-ui
				include ../../sections/user-comments.pug
			

			pre.
				include ../../sections/user-comments.pug


		
			pre.
				h2.title-2 Комментарии пользователя
				.user-comment.mb-10
					.user-comment-wrap
						.user-comment-wrap__title 
							a.user-comment-wrap__link(href="#!" target="_blanck") Поездка в LA
						.user-comment-wrap__date
							i(class="far fa-clock user-comment-wrap__icon")
							|05 Мая 2017 года в 15:45
					.user-comment__content Замечательный парк, обязательно отправлюсь туда этим летом.
				.user-comment.mb-10
					.user-comment-wrap
						.user-comment-wrap__title 
							a.user-comment-wrap__link(href="#!" target="_blanck") Ноутбук для веб-разработчика
						.user-comment-wrap__date
							i(class="far fa-clock user-comment-wrap__icon")
							|15 Мая 2017 года в 10:02
					.user-comment__content Замечательный парк, обязательно отправлюсь туда этим летом.
				.user-comment
					.user-comment-wrap
						.user-comment-wrap__title 
							a.user-comment-wrap__link(href="#!" target="_blanck") Настройка Sublime
						.user-comment-wrap__date
							i(class="far fa-clock user-comment-wrap__icon")
							|12 Мая 2017 года в 20:39
					.user-comment__content Замечательный парк, обязательно отправлюсь туда этим летом.