extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Сообщение от пользователя - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Сообщение от пользователя
			.section-ui
				include ../../sections/user-message.pug
			pre.
				include ../../sections/user-message.pug
			.title sections/user-message.pug
			pre.
				.message
					.message-container
						.delete
							+buttonDelete('Удалить', '#!', 'small')
						.message-date 22 Августа 2017
						.message-author
							.message-author--name Джон До
							a(href="mailto:johndoe@gmail.com" target="_blank").message-author--email johndoe@gmail.com
						.message-text 
							p Привет, как дела?) наконец то написал тебе. Посмотри ТЗ нового проекта. Делаем стартап в B2B сфере, юриспруденция, контракты, право. Инвестиции уже получены и нам нужен классный фронт энд разработчик, как раз - такой как ты. Будет круто если сможешь поработать с нами.
						.message-files
							.message-files--title Прикрепленные файлы:
							a(href="!#").message-files--list Avrora-platform.pdf

