.header
    div.header__left-side
        div.header__logo.mb-35
            include ../sections/logo.pug

        div.header__nav.ml-55
            include ../sections/header__navigation.pug

    include ../sections/sign-in-user.pug