-
    var navigation = [
    {name: 'Главная', link: 'main.html'},
    {name: 'Обо мне', link: 'about-me.html'},
    {name: 'Работы', link: 'works.html'},
    {name: 'Блог', link: 'blog.html'},
    {name: 'Контакты', link: 'contacts.html'}
    ];

+navigation(navigation)