.two-comments__title 2 комментария
.two-comments-container
	.two-comments-container__avatar
		+avatar('avatar-2.png')
	.two-comments-container-block
		.two-comments-container-block-wrap
			.two-comments-container-block-wrap__name Джон До
			.two-comments-container-block-wrap__date
				i(class="far fa-clock two-comments-container-block-wrap-icon")
				|05 Мая 2017 года в 15:45
		.two-comments-container-block__message
			|Замечательный парк, обязательно отправлюсь туда этим летом.

.two-comments-container
	.two-comments-container__avatar
		+avatar('avatar-3.png')
	.two-comments-container-block
		.two-comments-container-block-wrap
			.two-comments-container-block-wrap__name Джон До
			.two-comments-container-block-wrap__date
				i(class="far fa-clock two-comments-container-block-wrap-icon")
				|05 Мая 2017 года в 15:45
		.two-comments-container-block__message
			|Замечательный парк, обязательно отправлюсь туда этим летом.