.notification__error--texthidden {
	display: none;
}

.notification__error--textsmall {
  background-color: transparent;
  padding: 26px 16px 16px;
  margin-bottom: 15px;
}

.navigation__link--active {
	text-decoration: none;
}

.profile--jcsb{
	justify-content: space-between;
}

.link-decoration {
	text-decoration: none;
}

 .blog-post-heading-wrapper__button {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
} 

.load-file-wrap-img {
	position: relative;
}

.load-file-wrap__button {
    position: absolute;
    left: 210px;
    bottom: 10px;
}

.justify-content-fs {
	justify-content: flex-start;
}
